body{ position:relative;}
#style-switcher {  
  position: absolute;  
  text-align:center;
  width: 30px;  
  top: 50px;  
  left: -3px;  
  background: #f3f3f3;
  padding: 10px;
  border: 1px solid #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow:0 0 5px #000000;
  -webkit-box-shadow:0 0 5px #000000;
  behavior: url(PIE.htc);      
}
a.color-box{-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-border-radius:10px;
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; }

a.color-box:hover{border:solid 2px rgba(82,82,82,0.5);}
a.color-box.red{ background:#d94d48; width:20px; height:20px; margin:5px auto; display:block;}
a.color-box.blue{ background:#4c83d6; width:20px; height:20px; margin:5px auto; display:block;}
a.color-box.green{ background:#7abe63; width:20px; height:20px; margin:5px auto; display:block;}
a.color-box.orange{ background:#eca235; width:20px; height:20px; margin:5px auto; display:block;}
