label{
    display: inline-block;
}

#music {
    background: rgba(255, 255, 255, 0.5);
    margin: 90px auto;
    width: 70%;
    height: 186px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    outline: none;
}

.controls {
    width: 900px;
    height: 50px;
    /*background: #ccc;*/
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-left: -450px;
    z-index: 999999;
}

.controls > div {
    display: inline-block;
}

.cont-btn {
    line-height: 50px;
}

.cont-btn a {
    font-weight: 600;
    font-size: 25px;
    color: #fff;
}

.progress {
    width: 80%;
    height: 20px;
    position: relative;
}

.length {
    width: 100%;
    height: 5px;
    background: #eee;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    margin-top: -2.5px;
}

.nowlength {
    height: 100%;
    width: 0%;
    background: #c2c885;
    position: relative;
}

.nowlength i {
    position: absolute;
    width: 10px;
    height: 10px;
    display: block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #fff9ec;
    top: -2.5px;
    right: 0;
}

.back-img {
    z-index: -2;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: url("../img/1377244349447.jpg");
    filter: blur(60px);
    opacity: 0.4;
}

.back-black {
    z-index: -1;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
}

body {
    background: rgba(221, 158, 128);
}

#text, #number {
    width: 672px;
    line-height: 40px;
    border: 1px solid #eee;
    padding: 0 10px;
    color: rgba(75, 168, 50, 0.81);
}

#number {
    width: 74px;
    position: relative;
    left: -5px;
}


#text::placeholder {
    color: rgba(75, 168, 50, 0.81);
}

#query {
    width: 100px;
    line-height: 40px;
    background: #fff;
    border: 1px solid #eee;
    cursor: pointer;
    color: rgba(75, 168, 50, 0.81);
}

.center {
    width: 900px;
    margin: auto;
    position: relative;
    top: 150px;
}

.music-box {
    width: 100%;
    max-height: 343px;
    margin-top: 100px;
    overflow-x: auto;
}

table {
    width: 100%;
}

table tr {
    line-height: 30px;
    color: #fff9ec;
    cursor: pointer;
}

table tr th {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}

table > tbody > tr {
    transition: all .2s;
}

table tr th, table tr td {
    text-align: center;
}

table > tbody > tr {
    border-bottom: 1px solid rgba(238, 238, 238, 0.1);
}

table > tbody > tr:hover {
    color: rgb(168, 50, 61) !important;
    background: rgba(255, 255, 255, 0.2);
}

.select {
    color: rgb(168, 50, 61) !important;
    background: rgba(255, 255, 255, 0.3);
}

.empty {
    line-height: 300px !important;
    border: none !important;
    font-size: 24px !important;
    cursor: auto;
}

.txt-left {
    text-align: left;
}

.empty:hover {
    color: #fff9ec !important;
    background: none;
}

.music-box::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.music-box::-webkit-scrollbar-track {
    background: none;
    border-radius: 2px;
}

.music-box::-webkit-scrollbar-thumb {
    background: none;
    border-radius: 2px;
}

.music-box::-webkit-scrollbar-thumb:hover {
    background: none;
}

.music-box::-webkit-scrollbar-corner {
    background: none;
}

#img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    animation: trandeg 10s infinite linear forwards;
}

.voice-box{
    position: relative;
}

.function{
    padding-left: 20px;
    display: inline-block;
}

.function i {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: cover;
}

.function .voice-btn{
    background: url("../img/音量调节.png");
}

.adjuster{
    position: relative;
    width: 20px;
    height: 100px;
    top: -138px;
    display: none;
}

.adjuster .size:nth-child(1){
    z-index: 999;
    opacity: 0.5;
}

.adjuster .size:nth-child(2){
    background: #c2c885;
}

.adjuster .size{
    position: absolute;
    height: 100%;
    width: 5px;
    background: #fff;
    border-radius: 10px;
    bottom: 0;
    left: 50%;
    margin-left: -2.5px;
}

.adjuster .size i{
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    display: inline-block;
    background: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    left: 50%;
    margin-left: -5px;
}

#yinliang:checked~.adjuster{
    display: block;
}

.Play-mode{
    background-image: url("../img/单曲循环.png");
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -10px;
}

@keyframes trandeg {
    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg); /* IE 9 */
        -moz-transform: rotate(360deg); /* Firefox */
        -webkit-transform: rotate(360deg); /* Safari 和 Chrome */
        -o-transform: rotate(360deg); /* Opera */
    }
}
